
.App {
    display: grid;
    grid-template-areas: "sidebar header" "sidebar main";
    grid-template-columns: 30% 70%;
    grid-template-rows: 120px 1fr;
    background-color: #2b384b;
}


.App--nav {
    background-color: #2b384b;
    color: #fff;
    grid-area: sidebar;
    overflow: auto;
}


.App--header {
    background-color: #2b384b;
    color: #ffffff;
    grid-area: header;
    padding: 20px 0 0 10px;
}

.App--main {
    background-color: #516f96;
    grid-area: main;
    overflow: auto;
}

a {
    color: white;
}